{:paths ["src"]
 :deps
 {org.clojure/clojure       {:mvn/version "1.10.0-alpha4" :scope "provided"}
  org.clojure/clojurescript {:mvn/version "1.10.217" :scope "provided"}
  datascript     {:mvn/version "0.15.5" :scope "provided"}}
 :aliases
 {:dev
  {:extra-paths ["env/dev"]}
  :cljs-repl
  {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.1"}}}
  :test
  {:extra-deps  {org.clojure/test.check {:mvn/version "0.10.0-alpha2"}}
   :extra-paths ["test"]}}}
