{:paths ["src"]
 :deps
 {org.clojure/clojure       {:mvn/version "1.10.0-alpha4" :scope "provided"}
  org.clojure/clojurescript {:mvn/version "1.10.191" :scope "provided"}
  datascript     {:mvn/version "0.15.5" :scope "provided"}}
 :aliases
 {:test
  {:extra-deps  {org.clojure/test.check {:mvn/version "0.10.0-alpha2"}}
   :extra-paths ["test"]}}}
